*,html,body
{
    
    margin:0;
    padding:0;
    
}
body
{
    height: 4500px;
}
header
{
    
    
    height: 100px;
    line-height: 100px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.secondary
{
    background-color: #35363a;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in;
}

ul
{
    list-style: none;
}
ul li
{
    display:inline-block;
}

header nav
{
    float: right;
}
.logo img
{
    
    margin: -55px;
}
header nav ul li a
{
    padding-right: 30px;
    font-weight:bold;
    color:white;
    transition: all 0.2s ease-in;
    
}


header nav ul li a:hover
{
    text-decoration: none;
    color:red;
}
.img1
{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../imagee/spot-light-background-hd-wallpaper-1920x1080.jpg);
    background-size: 100% 100%;
}

.slider,.slider ul,.slider ul li
{
    height: 755px;
    width: 100%;
    color:white;
    text-align: center;
}

.slider h2
{
    font-weight: bold;
    margin-top: 270px;
}
.slider p
{
    color: white;
}

.slider span
{
    color:red;
}
.slider a
{
    padding: 10px 40px;
    margin-right: 10px;
}
.slider a.btn-half
{
    background-color: red;
    color: white;
}
.slider a.btn-half:hover
{
    background-color: darkred;
}
.slider a.btn-full
{
    background-color: white;
    color: red;
    transition: 0.5s;
}
.slider a.btn-full:hover
{
    background-color: darkgrey;
}
.img2
{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../imagee/wallpapersden.com_windows-10-spotlight-lock-screen-underground_3840x2160.jpg);
    background-size: 100% 100%;
}
.img3
{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../imagee/stains-light-color-background-wallpaper-preview.jpg);
    background-size: 100% 100%;
}
.slider i
{
    font-size: 20px;
    margin-right: 5px;
}
.intro-area
{
    position: relative;
    padding: 100px 0px;
    text-align: center;
}
.sub-heading
{
    position: relative;
    margin-bottom: 75px;
}
.sub-heading:before
{
    content: "";
    position: absolute;
    top: 120%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: #35363a;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
     transition: 0.3s ease;
    
}
.sub-heading:hover:before
{
    width: 24%;
    margin-left: -12%;
}
.sub-heading:after
{
    content: "";
    position: absolute;
    top: 120%;
    left:50%;
    margin-left:-12%;
    width: 24%;
    height:1px;
    background-color: #e1e1e1;
}

.intro-area .sub-heading p
{
    color: #818181;
    display: inline-block;
    padding: 2px 2px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
    
}
.intro-block
{
    position: relative;
    background: lightgrey;
    margin: 50px 0px 0px;
    text-align: center;
    padding: 70px 25px 40px;
    
}
.intro-block:hover, .intro-block.active
{
    background: #35363a;
}
.intro-block:hover
{
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
}
.intro-block .intro-icon
{
    position: absolute;
    top: -31px;
    left: 250px;
    margin-left: -31px;
}

.intro-block .fas
{
    width: 63px;
    height: 63px;
    font-size: 30px;
    color: white;
    line-height: 2;
    background: #35363a;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px darkgrey;
}
.intro-block:hover .fas, .intro-block.active .fas
{
    background-color: white;
    color:#35363a;
    box-shadow: 0px 0px 0px 10px #35363a;
}
.intro-block h3
{
    font-size: 18px;
    color: #35363a;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    
}
.intro-block p
{
    color: #35363a;
    
}
.intro-block:hover h3, .intro-block:hover p
{
    color: white;
}
.feature-area
{
    background-image:url(../imagee/unnamed.jpg);
    
    background-size: cover;
    background-position: center;
}
.title h2, p
{
    color:#35363a;
}

.single-feature h3
{
    color: black;
}

.single-feature
{
    position: relative;
    width: 325px;
    float: left;
    padding: 30px 0;
    text-align: center;
    border-right: 1.5px solid #35363a;
    border-bottom: 1.5px solid #35363a;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
}
.feature-block:after
{
    content: "";
    display: table;
}
.feature-block:after
{
    clear:both;
}
.featured-icon
{
    display: inline-block;
    margin-bottom: 5px;
}
.featured-icon i
{
    width: 63px;
    height: 63px;
    text-align: center;
    font-size: 30px;
    background-color: #35363a;
    color: white;
    border-radius: 50%;
    border: 8px solid darkgrey;
    line-height: 50px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}
.single-feature:hover .featured-icon .fas
{
    border: 8px solid #35363a;
    background: white;
    color: #35363a;
}
.single-feature:nth-of-type(even)
{
    border-right: none;
}
.single-feature:nth-last-child(2)
{
    border-bottom: none;
}
.single-feature:last-child
{
    border-bottom: none;
}

.feature-area
{
    padding: 100px 0;
}
.feature-mockup
{
    image-resolution: 50px;
    right: -70px;
    bottom: -140px;
    position: relative;
}
.title .sub-heading p
{
    color:white;
}
.more-feature-area .title h2
{
    color: black;
}
.more-feature-area .title .sub-heading p
{
    color: #818181;
}
.more-feature-area
{
    padding: 100px 0;
}
.feature-list ul
{
    list-style: none;
}
.feature-list li
{
    position: relative;
    margin-bottom: 30px;
    padding-left: 80px;
}
.feature-list li:hover i
{
    color:white;
    background:#35363a;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    -ms-transition: .5s ease;
}
.feature-icon
{
    position: absolute;
    left:0;
}
.feature-icon i
{
    width: 63px;
    height: 63px;
    text-align: center;
    font-size: 30px;
    background: white;
    color: #35363a;
    border-radius: 50%;
    border: 2px solid #35363a;
    line-height: 62px;
}
.feature-details h3
{
    color: #35363a;
    font-weight: 700;
    text-transform: uppercase;
}
.feature-details p
{
    color: #616161;
    font-weight: 200;
}
.more-feature-area img
{
    margin: px;
    padding-top: 80px;
    padding-right: 100px;
}
.testimonials
{
    background-image: url(../imagee/unnamed.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 120px;
    color:black;
    margin-top: -100px;
    
}
.testimonials .carousel-indicators
{
    bottom:-60px;
}.testimonials .carousel-indicators
{
    color: red;
}
.testimonials .sub-heading p
{
    color: #35363a;
}
.testimonials .text-center p
{
    color: #35363a;
}
.carousel-inner img
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid #35363a;
    padding: 5px;
}
.testimonials .carousel-indicators li.active
{
    background-color: #35363a;
}
.contact-area
{
    padding: 100px 0;
}
.divider
{
    border-right: 1px solid #d9d9d9;
}
.contact-area h3
{
    text-transform: uppercase;
    margin-bottom: 18px;
}
.contact-area h4
{
    color: #3a3a3a;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 4px;
    letter-spacing: 0.025em;
}
.contact-area span
{
    display: block;
    color: darkgrey;
    font-size: 09px;
    line-height: normal;
    letter-spacing:;
}
.contact-area ul li
{
    overflow: hidden;
    margin-bottom: 25px;
}
.contact-area ul li:last-child
{
    margin-bottom: 0;
}
.contact-address ul li .fas
{
    padding: 15px;
    padding-left: 0px;
    float: left;
    width: 25px;
    color: #35363a;
    font-size: 30px;
}
.contact-address ul li .address-phone
{
    float: left;
    width: 180px;
    padding-left: 25px;
}
.contact-block
{
    padding-left: 25px;
}
.contact-area .form-control, .contact-area textarea
{
    font-family: 'Roboto',sans-serif;
    background: #f8fdff;
    border: 2px solid #35363a;
    padding: 10px 12px;
    color: #bdbdbd;
    height: 45px;
    font-weight: 400;
    border-radius: 100;
}
.contact-area .form-group
{
    margin-bottom: 35px;
}
.contact-area textarea
{
    min-height: 125px;
}
.contact-area .default-btn
{
    padding: 11px;
}
.form-group .default-btn
{
    padding: 10px 12px;
    border: 2px solid #35363a;
    background-color:grey;
    color: #35363a;
}
.contact-area .sub-heading p
{
    color: grey;
}
.form-group .btn:hover
{
    background-color: #35363a;
    color: white;
    transition: 0.5s ease;
}















